/* 
    Title: Personal Portfolio
    Author: April Yang
    Date: 07-04-2022
    Description: style.css
 */

/* styling for nav */

.navbar{
background-color:lightgray;

}

.navbar>.container-fluid {
justify-content: center;

}

.nav-div{
border-bottom: solid 1px lightgray;
   
padding-top:5px;
padding-bottom:5px;
background-color: lightyellow;
}


.navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
     font-family: "Libre Baskerville", serif;
     color:#66188B;
     font-size: xx-large;
     margin: 0px;
}

.listNavbar{

padding-right:20px;
padding-top:5px;
padding-bottom:5px;
font-family: "Libre Baskerville", serif;

}

.navLink{

     padding: 5px 5px;
     text-decoration: none;
    

}

.navLink:hover {
    background-color: orange;
    border-radius: 5px;
}

.nav-item{
        padding: 5px 5px;
        display: flex;
        align-items: center;
}

.nav{
justify-content: flex-end;

}

hr{
margin-top: 0px;
margin-bottom: 0px;
border-width: 5px 0px 0px;
color:orange;
opacity:100%;

}

/* Styling for footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  padding-top:5px;
padding-bottom:5px;
}

.footerDiv{
 margin-top:200px

}

.copyRight{
  font-family: "Libre Baskerville", serif;
  color:white;
  font-size:small;
  padding-left:20px;
  padding-top: 10px;

}
/* 
.row {

    align-items: center;

} */

.footerLink{
color:black;
font-size:40px;

}

.footerBU{
font-size:20px;
font-weight:400;
align-items: center;
margin-bottom:0px;
}

.vl {
border-right:1px solid red; height:10px;
display:flex;
height:40px;
padding: 5px 5px;
align-items: center;
}

/* Styling for landing page card with list */

.cardList{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* margin-bottom: 150px; */
    text-align: center;
}

/* styling for projects page  */
.card-content{
margin-top:50px;

}

.headerProjects{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top:25px;
   
}

.gridImg{
    width: 285px; 
    height: 200px;
}

.headerResume{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top:25px;
    display: inline-flex;
}

.card-header{
  text-align: center;

}

.card-footer{
text-align: center;

}

/* styling for resume page */
.resumeDiv{
  text-align: center;
  width: 80%;
    margin: auto;

}

.resumeP{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}


.aprilimg {
  float: left;
    margin-right: 30px;
    margin-bottom: 5px;
    width: 30%;
    height: auto;
    border-radius: 5px;
   
}

.flowerimg{
float: right;
  margin-right: 20px;
  width: 150%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 480px;

}

.col2{
    padding:0px;
}

.cardAbout{
  

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
    padding-bottom: 20px;
    background-color: #EEE8D0;
    padding-top: 40px;
}

.p1{
       padding-top: 10px;
    padding-left: 40px;
    margin: 0px;
    padding-right: 10px;
}


/* Styling resume page */
.cardResume{

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   background-color: #EEE8D0;
    text-align: left;
    padding:20px 50px 20px 50px;

}

.nameH1{
    text-align: center;

}

.card-subtitle{
text-align: center;
margin-bottom: 10px;
}

.workDiv{
    text-align: center;
    margin-bottom: 5px;
}

.highlight{
   padding-left: 5px;
    padding-right: 5px; 
    color: red;
}

.workInfo{
margin-bottom: 5px;

}

.workUl{
margin-bottom: 0px;

}